<form [formGroup]="selection">

  <select formControlName="day_gte">
    <option value="Vanaf weekdag">Vanaf weekdag</option>
    <option value="0">Maandag</option>
    <option value="1">Dinsdag</option>
    <option value="2">Woensdag</option>
    <option value="3">Donderdag</option>
    <option value="4">Vrijdag</option>
    <option value="5">Zaterdag</option>
    <option value="6">Zondag</option>
  </select>

  <select formControlName="day_lte">
    <option value="Tot weekdag">Tot weekdag</option>
    <option value="0">Maandag</option>
    <option value="1">Dinsdag</option>
    <option value="2">Woensdag</option>
    <option value="3">Donderdag</option>
    <option value="4">Vrijdag</option>
    <option value="5">Zaterdag</option>
    <option value="6">Zondag</option>
  </select>

  <select formControlName="day">
    <option *ngFor="let day of days" [value]="day.value">{{day.label}}</option>
  </select>
  <select formControlName="hour">
    <option *ngFor="let hour of hours" [value]="hour.value">{{hour.label}}</option>
  </select>

  <select formControlName="month">
    <option value="Maand">Maand</option>
    <option value="0">jan</option>
    <option value="1">feb</option>
    <option value="2">mrt</option>
    <option value="3">apr</option>
    <option value="4">mei</option>
    <option value="5">jun</option>
    <option value="6">jul</option>
    <option value="7">aug</option>
    <option value="8">sept</option>
    <option value="9">okt</option>
    <option value="10">nov</option>
    <option value="11">dec</option>
  </select>

  <select formControlName="year">
    <option value="Vanaf jaar">Vanaf jaar</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
  </select>

  <button (click)="reset()">Reset</button>

</form>
