swagger: '2.0'
info:
  title: Parkeer Scans API
  version: ''
host: 'acc.api.data.amsterdam.nl'
schemes:
  - http
paths:
  /predictiveparking/kansen/buurt/:
    get:
      operationId: kansen_buurt_list
      responses:
        '200':
          description: ''
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          type: integer
        - name: naam
          required: false
          in: query
          description: 'Buurtnaam'
          type: string
        - name: weekdag
          required: false
          in: query
          description: '0 ..7'
          type: number
        - name: uur
          required: false
          in: query
          description: '0 .. 23'
          type: number
        - name: aantal_fiscale_vakken
          required: false
          in: query
          description: 'Aantal betaalde vakken'
          type: number
      description: |-
        Raster data van OIS met parkeerkans berekeneningen
        per geometrie / raster.

        Per buurt is een kans berekening gedaan.

        Filteren kan op weekdag en uur en locatie.

        Geometrie / gebieden met parkeerkans informatie
      summary: Raster data van OIS met parkeerkans berekeneningen
      tags:
        - kansen
  '/predictiveparking/kansen/buurt/{id}/':
    get:
      operationId: kansen_buurt_read
      responses:
        '200':
          description: ''
      parameters:
        - name: id
          required: true
          in: path
          description: A unique integer value identifying this mvp.
          type: integer
      description: |-
        Raster data van OIS met parkeerkans berekeneningen
        per geometrie / raster.

        Per buurt is een kans berekening gedaan.

        Filteren kan op weekdag en uur en locatie.

        Geometrie / gebieden met parkeerkans informatie
      summary: Raster data van OIS met parkeerkans berekeneningen
      tags:
        - kansen
  /predictiveparking/metingen/aggregations/vakken/:
    get:
      operationId: metingen_aggregations_vakken_list
      responses:
        '200':
          description: ''
      parameters: []
      description: Show scan counts of parkingspot / vakken in given bbox
      summary: Show scan counts of parkingspot / vakken in given bbox
      tags:
        - metingen
  /predictiveparking/metingen/aggregations/wegdelen/:
    get:
      operationId: metingen_aggregations_wegdelen_list
      responses:
        '200':
          description: ''
      parameters:
        - name: bbox
          required: false
          in: query
          description: |-
            Area of the map to do selection on.
            4.58565,  52.03560,  5.31360, 52.48769,
            bbox      bottom,       left,      top,    right
          type: string
          
        - name: explain
          required: false
          in: query
          description: 'Return all deta related to occupation calculation, handy for graphs'
          type: boolean
          
        - name: hour
          required: false
          in: query
          description: Hour of the day 0..23
          type: integer
          
        - name: minute
          required: false
          in: query
          description: 0..59
          type: integer
          
        - name: minute_gte
          required: false
          in: query
          description: 0..59
          type: integer
        - name: minute_lte
          required: false
          in: query
          description: 0..59
          type: integer
        - name: hour_gte
          required: false
          in: query
          description: 'Greater then hour of the day 0..23'
          type: integer
        - name: hour_lte
          required: false
          in: query
          description: Less then hour of the day 0..23
          type: integer
        - name: day
          required: false
          in: query
          description: Hour of the day 0..23
          type: integer
        - name: day_gte
          required: false
          in: query
          description: Hour of the day 0..23
          type: integer
        - name: day_lte
          required: false
          in: query
          description: Hour of the day 0..23
          type: integer
        - name: month
          required: false
          in: query
          description: Month of the year 0..23
          type: integer
        - name: date_gte
          required: false
          in: query
          description: elastic date math 
          type: integer
        - name: date_lte
          required: false
          in: query
          description: elastic date math
          type: string
        - name: sperccode
          in: query
          type: string
          description: "PermittedPRDB, Skipped, UnPermitted, NotFound, Exception, Suspect, PermittedHH"
        - name: qualcode
          in: query
          type: string
          description: "BEWONERP, BETAALDP, BEDRIJFP, STADSBREED, DOUBLESCAN, DISTANCE, ANPRERROR, TIMEOUT, DOUBLEPCN, TIMEOUT-PERMITCHECKER, BEZOEKP"
          
      description: |-
        List dates with wegdeelen and distinct vakken count
        combined with meta road information.
        
        Default behaviour is to return values for NOW. so the currenct day and time us used
        when no parameters are given.
      summary: List dates with wegdeelen and distinct vakken count
      tags:
        - metingen
  /predictiveparking/metingen/scans/:
    get:
      operationId: metingen_scans_list
      responses:
        '200':
          description: ''
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          type: integer
        - name: bbox
          required: false
          in: query
          description: 'Groot Amsterdam. 4.58565,52.03560,5.31360,52.48769'
          type: string
        - name: scan_moment
          required: false
          in: query
          description: '2017-02-03T22:00:17Z'
          type: string
        - name: device_id
          required: false
          in: query
          description: 'scan bron'
          type: number
        - name: scan_source
          required: false
          in: query
          description: ''
          type: string
        - name: nha_hoogte
          required: false
          in: query
          description: 'naheffings hoogte'
          type: number
        - name: nha_nr
          required: false
          in: query
          description: 'naheffings nummer'
          type: number
        - name: qualcode
          required: false
          in: query
          description: ''
          type: string
        - name: buurtcode
          required: false
          in: query
          description: ''
          type: string
        - name: sperscode
          required: false
          in: query
          description: ''
          type: string
        - name: parkeervak_id
          required: false
          in: query
          description: ''
          type: string
        - name: parkeervak_soort
          required: false
          in: query
          description: 'FISCAAL / MULDER etc'
          type: string
        - name: bgt_wegdeel
          required: false
          in: query
          description: 'Het bgt wegdeel id.'
          type: string
        - name: bgt_wegdeel_functie
          required: false
          in: query
          description: ''
          type: string
      description: |-
        Scan metingen.

        Dit is de brondata voor:
      summary: Scan metingen.
      tags:
        - metingen
  '/predictiveparking/metingen/scans/{id}/':
    get:
      operationId: metingen_scans_read
      responses:
        '200':
          description: ''
      parameters:
        - name: id
          required: true
          in: path
          description: A unique integer value identifying this scan.
          type: integer
      description: |-
        Scan metingen.

        Dit is de brondata voor:
      summary: Scan metingen.
      tags:
        - metingen
  /predictiveparking/vakken/:
    get:
      operationId: vakken_list
      responses:
        '200':
          description: ''
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          type: integer
        - name: scan_count
          required: false
          in: query
          description: ''
          type: number
      description: |-
        Parkeer Vakken

        Dit is de brondata voor:
      summary: Parkeer Vakken
      tags:
        - vakken
  '/predictiveparking/vakken/{id}/':
    get:
      operationId: vakken_read
      responses:
        '200':
          description: ''
      parameters:
        - name: id
          required: true
          in: path
          description: A unique value identifying this parkeervak.
          type: string
      description: |-
        Parkeer Vakken

        Dit is de brondata voor:
      summary: Parkeer Vakken
      tags:
        - vakken
  /predictiveparking/wegdelen/:
    get:
      operationId: wegdelen_list
      responses:
        '200':
          description: ''
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          type: integer
        - name: vakken
          required: false
          in: query
          description: ''
          type: number
        - name: scan_count
          required: false
          in: query
          description: 'Het aantal scans op betreffence wegdeel'
          type: number
      description: |-
        Wegdelen

        Dit is de brondata voor:
      summary: Wegdelen
      tags:
        - wegdelen
  '/predictiveparking/wegdelen/{id}/':
    get:
      operationId: wegdelen_read
      responses:
        '200':
          description: ''
      parameters:
        - name: id
          required: true
          in: path
          description: A unique value identifying this weg deel.
          type: string
      description: |-
        Wegdelen

        Dit is de brondata voor:
      summary: Wegdelen
      tags:
        - wegdelen
securityDefinitions:
  basic:
    type: basic
