appdirs==1.4.3
astroid==2.0.4
Babel==2.6.0
backcall==0.1.0
cached-property==1.5.1
certifi==2018.8.24
chardet==3.0.4
click==6.7
colorama==0.3.9
coreapi==2.3.3
coreschema==0.0.4
debtcollector==1.20.0
decorator==4.3.0
defusedxml==0.5.0
Django==2.1.1
django-debug-toolbar==1.10.1
django-extensions==2.1.2
django-filter==2.0.0
django-rest-swagger==2.2.0
djangorestframework==3.8.2
djangorestframework-csv==2.1.0
djangorestframework-gis==0.13
djangorestframework-xml==1.3.0
docker==3.5.0
docker-compose==1.22.0
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
drf-amsterdam==0.2.2
drf-extensions==0.4.0
elasticsearch==6.3.1
elasticsearch-dsl==6.2.1
factory-boy==2.11.1
Faker==0.9.0
first==2.0.1
flake8==3.5.0
frosted==1.4.1
graypy==0.3.1
idna==2.7
ipaddress==1.0.22
ipython==6.5.0
ipython-genutils==0.2.0
iso8601==0.1.12
isort==4.3.4
isoweek==1.3.3
itypes==1.1.0
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
keystoneauth1==3.11.0
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
mccabe==0.6.1
monotonic==1.5
msgpack==0.5.6
msgpack-python==0.5.6
netaddr==0.7.19
netifaces==0.10.7
openapi-codec==1.3.2
os-service-types==1.3.0
oslo.config==6.4.0
oslo.i18n==3.21.0
oslo.serialization==2.27.0
oslo.utils==3.37.0
packaging==17.1
parso==0.3.1
pbr==4.2.0
pexpect==4.6.0
pickleshare==0.7.4
pies==2.6.7
pip-review==1.0
pip-tools==2.0.2
positional==1.2.1
prompt-toolkit==2.0.4
psycopg2-binary
ptyprocess==0.6.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.2.0
pylint==2.1.1
pylint-django==2.0.2
pylint-plugin-utils==0.4
pyparsing==2.2.0
python-dateutil==2.7.3
python-keystoneclient==3.17.0
python-swiftclient==3.6.0
pytz==2018.5
PyYAML==3.13
requests==2.19.1
rfc3986==1.1.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
sqlparse==0.2.4
stevedore==1.29.0
text-unidecode==1.2
texttable==1.4.0
traitlets==4.3.2
typed-ast==1.1.0
typing==3.6.6
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.23
wcwidth==0.1.7
websocket-client==0.53.0
Werkzeug==0.14.1
wrapt==1.10.11
